#top
{
    background-image: url("cor3.jpg");
    background-size: cover;
    color: rgb(42, 41, 44);
}

#header{
    padding: 50px 50px 0 50px;
}

#header .col-sm-4 .btn{
    background-color: rgb(41, 40, 38);
}

#header .nav-tabs .nav-link{
    border-radius: 0% !important;
    border-bottom-color: black;
    border:1px solid rgb(41, 38, 38);
    color: rgb(248, 239, 226);
    padding: 10px 20px 10px 20px;
    font-size: 15px;
}

.active a{
    color: rgb(248, 244, 237) !important;
    font-size: 15px;
    background-color: rgb(204, 79, 79);
}

#Cor .carousel-item{
    background-image: url('cor2.jpg');
    background-size: cover;
    text-align: center;
}


#Cor .carousel-item .cor-content{
    padding-top: 20%;
    padding-bottom: 20%;
    color: ivory;
}

#Cor .carousel-item .cor-content .btn{
    background-color: rgb(204, 79, 79);
    border-radius: 0%;
}

#mid{
    background-color: rgb(198, 203, 205);
    text-align: center;
    padding: 30px;
}

#mid .btn{
    background-color: rgb(204, 79, 79);
    border-radius: 0%;
}

#mid .mid-top{
    padding: 20px;
}

#mid .mid-top .col-sm-3{
    padding: 20px;
}

#mid .mid-midi{
    padding-top: 40px;
}

#mid .mid-midi h2{
    padding-top: 50px;
}

#mid .mid-midi img{
   width:100%;
}

#mid .carousel-item{
    padding: 20px;
    padding-top: 40px;
}

footer{
    text-align: center;
    padding-top: 20px;
}

#about-mid{
    padding: 30px;
    background-color: rgb(178, 188, 188);
    font-size: 20px;
}

#about-mid .btn{
    background-color:rgb(204, 79, 79) ;
    border-radius: 0%;
    padding: 10px 40px 10px 40px;
}

#about-mid .col-lg-8{
    padding-top: 30px;
    padding-bottom: 30px;
}

#about-mid .nav-tabs .nav-link{
    border-radius: 0% !important;
    border: bottom 0px !important;
    border:1px solid rgb(41, 38, 38);
    color: rgb(248, 239, 226);
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    background-color: rgb(44, 47, 51);
    margin-bottom: 40px;
    margin-top: 20px;
}

#about-mid .active a{
    color: rgb(248, 244, 237) !important;
    font-size: 15px;
    background-color: rgb(204, 79, 79) !important;
}

#portfolio-mid{
    background-color: rgb(185, 174, 174);
    padding: 40px;
}

#portfolio-mid .col-lg-6 img{
    width: 100%;
}

#portfolio-mid .btn{
    background-color:rgb(204, 79, 79) ;
    border-radius: 0%;
    padding: 10px 40px 10px 40px;
}

#portfolio-mid .row{
    padding: 20px;
}

#portfolio-mid .row .col-lg-6 p{
    padding-top: 20px;
}


#blog-mid{
    padding: 30px;
    background-color: rgb(231, 225, 225);
}

#blog-mid .col-lg-8 img{
    width:100%;
    height: auto;
}

#blog-mid .col-lg-8 p,h1{
   padding-top: 20px;
}

#blog-mid .col-lg-4 h4{
    padding: 40px;
    
 }

#blog-mid .col-lg-8 .btn{
    background-color:rgb(204, 79, 79) ;
    border-radius: 0%;
    padding: 10px 40px 10px 40px;
}

#blog-mid .tags .btn{
    background-color:rgb(43, 43, 53) ;
    border-radius: 0%;
    margin:5px; 
}

#map-section{
    background-color: rgb(213, 213, 224);
}

#map{
    
    height: 500px;
    width: 80%;
    margin: 50px;
}

#contact-info{
    padding: 50px;
    background-color:   rgb(213, 213, 224);
}